.l-error-container {
   height: 100vw;
   width: 100vw;
   align-items: column;
   margin: auto;
   max-height: 600px;
}

.error-title {
    padding-left: 5%;
}

.error-message {
    padding-left: 5%;
}
.error-404 {
    width: 100%;
    height: auto;
    max-height: 500px;
    max-width: 500px;
}