<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chapter Card</title>
</head>
<body>
    <a th:fragment="chaptercard(index, text, url)" class="chaptercard"
       th:attrappend="data-slug=${code}, data-angname=${anglicizedText}, data-localname=${localizedText}"
       th:classappend="${url == null}? 'unavailable'"
       th:href="${url == null}? 'javascript:void(0)' : ${url}"
       th:data-chapter-id="${index}"
       th:target="${url == null || isRequestLink}? '' : '_blank'">

        <div class="chaptercard__title" th:classappend="${url == null}? 'unavailable'">
            <p th:text="${text}">Chapter 01</p>
        </div>

        <div class="chaptercard__download" th:classappend="${url == null}? 'unavailable'">
            <div class="chaptercard__download-target" th:if="${isRequestLink}" th:classappend="${url == null}? 'unavailable'">
                <em class="material-icons chaptercard__icon" th:classappend="${url == null}? 'unavailable'">get_app</em>
                <img class="chaptercard__spinner hidden" alt="Spinner Icon" height="24" width="24" src="/static/img/spinner_icon.gif" />
                <p class="chaptercard__download-text" name="request-text" th:text="#{request}">Request</p>
                <p class="chaptercard__download-text hidden" name="requesting-text" th:text="#{requesting}">Requesting</p>
                <p class="chaptercard__download-text hidden" name="download-text" th:text="#{download}">Download</p>
                <p class="chaptercard__download-text hidden" name="unavailable-text" th:text="#{unavailable}">Unavailable</p>
            </div>
            <div class="chaptercard__download-target" th:unless="${isRequestLink}" th:classappend="${url == null}? 'unavailable'">
                <em class="material-icons chaptercard__icon" th:classappend="${url == null}? 'unavailable'">get_app</em>
                <p class="chaptercard__download-text" th:text="#{download}">Download</p>
            </div>
        </div>

    </a>
</body>
</html>