<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZJECQPPTKR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-ZJECQPPTKR');
    </script>
    <title>Header</title>
</head>
<body>
<header th:fragment="header" class="header">
    <a class="header__link" href="/gl">
        <img alt="app_logo" class="header__logo" src="/static/img/fetcher_logo.png">
        <span class="header__text">Audio</span>
    </a>
    <!-- LogRocket initialization -->
    <script src="https://cdn.lr-ingest.com/LogRocket.min.js" crossorigin="anonymous"></script>
    <script>
        window.LogRocket?.init(
            'ct7zyg/bible-in-every-language',
            { rootHostname: 'bibleineverylanguage.org' }
        );
    </script>
    <!-- End LogRocket initialization -->
</header>

</body>

</html>
