<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Language Toggle</title>
</head>
<body>
<div class="language_toggle" th:fragment="language_toggle(isGateway)">

    <a href="#"
       th:href="${isGateway} ? '#' : '/gl'"
       class="toggle_button"
       th:classappend="${isGateway} ? 'active_toggle' : ''">
        <em class="material-icons">language</em>
        <span th:text="#{gateway}">Gateway</span>
    </a>

    <a href="#"
       th:href="${isGateway} ? '/hl' : '#'"
       class="toggle_button"
       th:classappend="${!isGateway} ? 'active_toggle' : ''">
        <em class="material-icons">favorite</em>
        <span th:text="#{heart}">Heart</span>
    </a>

</div>
</body>
</html>