<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Language Toggle</title>
</head>
<body>
<div th:fragment="language_toggle(isGateway)" class="language_toggle">
    <button class="toggle_button" th:classappend="${isGateway} ? 'active_toggle' : 'inactive_toggle'">
        <a href="/gl" class="toggle_link">Gateway</a>
    </button>
    <button class="toggle_button" th:classappend="${!isGateway} ? 'active_toggle' : 'inactive_toggle'">
        <a href="/hl" class="toggle_link">Heart</a>
    </button>
</div>
</body>
</html>