<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Default Card</title>
</head>
<body>
<a th:fragment="card(localizedText, anglicizedText, code, url)"
   class="def-card" th:classappend="${url == null}? 'unavailable' "
   th:href="${url == null}? '#' : ${url}">
    <div class="def-card__code"
         th:classappend="${url == null}? 'unavailable' ">
        <span th:text="${code}">01 Gen</span>
    </div>
    <div class="def-card__main-text"
         th:classappend="${url == null}? 'unavailable' ">
        <p th:text="${localizedText}"class="def-card__text"
           th:classappend="${url == null}? 'unavailable' ">አማርኛ</p>
        <p th:text="${anglicizedText}" class="def-card__anglicized-text"
           th:classappend="${url == null}? 'unavailable' "><span>Amharic</span></p>
    </div>
    <span class="def-card__icon"
          th:classappend="${url == null}? 'unavailable' ">
        <em class="material-icons">arrow_forward</em></span>
</a>
</body>
</html>