<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Navbar</title>
</head>
<body>
<div th:fragment="navbar(languageUrl, toolsUrl, booksUrl)" class="navbar">
    <a class="navbar__item" href="language.html"
       th:href="${languageUrl}">
        <em class="material-icons">translate </em>
        <span>Language</span>
    </a>

    <a class="navbar__item" href="tools.html"
   th:href="${toolsUrl}">
    <em class="material-icons">apps </em>
    <span>Tools</span>
    </a>

    <a class="navbar__item" href="books.html"
    th:href="${booksUrl}">
        <em class="material-icons">book </em>
        <span>Books</span>
    </a>
</div>
</body>
</html>