<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Navbar</title>
</head>
<body>
<div th:fragment="navbar(languagesNavUrl, toolsNavUrl, booksNavUrl)" class="navbar">
    <a class="navbar__item" href="language.html"
       th:href="${languagesNavUrl}">
        <em class="material-icons">translate </em>
        <span th:text="#{languages}">Language</span>
    </a>

    <a class="navbar__item" href="tools.html"
   th:href="${toolsNavUrl}">
    <em class="material-icons">apps </em>
    <span th:text="#{tools}">Tools</span>
    </a>

    <a class="navbar__item" href="books.html"
    th:href="${booksNavUrl}">
        <em class="material-icons">book </em>
        <span th:text="#{books}">Books</span>
    </a>
</div>
</body>
</html>