<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Card</title>
</head>
<body>
<a th:fragment="productcard(iconUrl, productTitle, productDescription, url)"
   class="product-card"
   th:href="${'/'+url}">
    <div class="product-card__icon-container">
        <img alt="product_image" class="product-card__product-icon" th:src="@{static/} + ${iconUrl}"/>
    </div>
    <div class="product-card__text">
        <p th:text="${productTitle}"class="product-card__title">አማርኛ</p>
        <p th:text="${productDescription}" class="product-card__description"><span>Amharic</span></p>
    </div>
    <span class="product-card__icon">
        <em class="material-icons">arrow_forward</em></span>
</a>
</body>
</html>