<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel="icon" href="/static/img/fetcher_logo.png">
    <link rel="stylesheet" href="/static/common.css">
    <link rel="stylesheet" href="/static/error.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<div th:insert="fragments/header :: header"></div>


<div class="l-error-container">
    <h2 th:text="${errorTitle}" class="error-title">Could not find page</h2>
    <p th:text="${errorMessage}" class="error-message"> This page does not exist</p>
    <div class="c-center">
        <img alt="error_gif" class="error-image"
             th:src="${errorCode == 404}? '/static/img/error_404.gif' : '/static/img/error_500.gif' "
             src="/static/img/error_404.gif">
    </div>

</div>

</body>
</html>