<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel="stylesheet" href="/static/common.css">
    <link rel="stylesheet" href="/static/error.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<div th:insert="fragments/header :: header"></div>


<div class="l-error-container">
    <h2 th:text="${errorTitle}" class="error-title">Could not find page</h2>
    <p th:text="${errorMessage}" class="error-message"> This page does not exist</p>
    <center>
        <img alt="error_gif" class="error-404" src="/static/img/error_404.gif">
    </center>
</div>

</body>
</html>