<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel="stylesheet" href="/static/common.css">
    <link rel="stylesheet" href="/static/products.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<div th:insert="fragments/header :: header"></div>

<div th:insert="fragments/navbar :: navbar(${languagesNavUrl}, '', '', 'TODO')"></div>

<div th:insert="fragments/hero :: hero(#{page_title}, #{page_info})"></div>

<div class="l-list-container" >
    <div th:each="product: ${productList}">
        <div th:insert="fragments/productcard :: productcard(${product.iconUrl}, #{${product.titleKey}}, #{${product.descriptionKey}}, ${product.url})"></div>
    </div>
</div>
</body>
</html>
