<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" dir="ltr" th:dir="#{dir}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}">Languages</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel="icon" href="/static/img/fetcher_logo.png">
    <link rel="stylesheet" href="/static/common.css">
    <link rel="stylesheet" href="/static/language.css">
    <link rel="stylesheet" href="/static/heart_gateway_group.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script th:if="${!isGateway}" type="text/javascript" src="/static/search-languages.js"></script>
    <style id="cssFilter">/*css filter placeholder*/</style>
</head>

<body>

<div th:insert="fragments/header :: header"></div>

<div class="c-navbar">
    <div th:insert="fragments/navbar :: navbar(${languagesNavUrl}, null, null)"></div>
</div>

<div th:if="${isGateway}" th:insert="fragments/hero :: hero(#{page_title_gateway}, #{page_info_gateway})"></div>
<div th:unless="${isGateway}" th:insert="fragments/hero :: hero(#{page_title_heart}, #{page_info_heart})"></div>

<div class="language_input_group">
    <div th:insert="fragments/language_toggle :: language_toggle(${isGateway})"></div>
    <div th:insert="fragments/searchbar :: searchbar"></div>
</div>

<div class="l-list-container" >
    <div th:each="language: ${languageList}">
        <div th:insert="fragments/card :: card(${language.localizedName}, ${language.anglicizedName}, '', ${language.code}, ${language.url})"></div>
    </div>
</div>

<div th:if="${isGateway}" th:insert="fragments/filter :: filter"></div>

</body>

</html>