.chaptercard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:98vw;
    max-width: 753px;
    max-height: 56px;
    border-top: 1px solid #111A3133 !important;
    overflow: hidden;
    padding: 0 8px 0 8px;
    box-sizing: border-box;
}
.chaptercard:hover {
    background: #111A310D;
}
.chaptercard__title {
    flex: 1;
    color: #111A31;
    font-size: 1.15rem;
    font-weight: 600;
}
.chaptercard__download {
    flex: 1;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    color: #015AD9;
    font-size: 1rem;
}
.chaptercard__download-target {
    height: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: auto;
    padding:0 4px 0 4px;
}
.chaptercard__download-target:hover {
    background: rgba(1, 90, 217, 0.2);
}
.chaptercard__download-text {
    text-decoration: underline;
    padding: 2px;
    line-height: 24px;
    margin-left: 5px;
}
.chaptercard__icon {
    height: 24px;
    width: 24px;
    color: black;
}
.chaptercard__download-target .chaptercard__icon, .chaptercard__download-target .chaptercard__download-text {
    color: #015AD9;
}
.chaptercard__download-target.unavailable {
    display: none;
}
.chapter-download-card {
    background: #0A3373;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 753px;
    height: 152px;
    margin: 16px auto 16px auto;
}
.chapter-download-card__book-name {
    font-size: 26px;
    color: white;
}
.chapter-download-card__button {
    width: 184px;
    height: 40px;
    background: #FFB100;
    color: black;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    gap: 5px;
}
.chapter-download-card__button:hover {
    background: #c58b07;
}
.request-book {
    background: white;
    color: #015ad9;
}
.request-book p {
    margin-left: 5px;
    text-decoration: none;
}
.request-book:hover {
    background: #e0d7cb;
}
.requesting {
    background-color: rgb(220 220 220);
    color: rgba(10, 51, 115, 0.6);
}
.requesting p {
    text-decoration: none;
}
.download-ready {
    color: white;
    background-color: #015ad9;
}
.download-ready:hover {
    background: rgb(56 66 140);
}
.download-ready p{
    text-decoration: none;
}
.request-unavailable {
	color: #dc0000e6;
	background: white;
}
.request-unavailable:hover,.request-unavailable div:hover {
    cursor: no-drop;
    background: white;
}
.request-unavailable p {
	text-decoration: none;
	margin-left: 2px;
}
.chapter-download__error {
    color: white;
    display: flex;
    gap: 5px;
    padding: 0 15px;
}
.chapter-download__error p {
    display: inline;
    margin: 0;
}
.chapter-download__error .chaptercard__icon {
    color: red;
}
.chapter-download__error a, .chapter-download__error a:hover {
    color: #4c96ff;
}

.chapter-download__error-message {
    display: flex;
    gap: 5px;
}

.chapter-card-error.chapter-download__error {
    color: black;
    justify-content: space-between;
    width: 98vw;
    max-width: 753px;
    padding: 15px 8px;
    box-sizing: border-box;
    border-top: 1px solid #111A3133 !important;
}

/* --layout for tablets  */
@media only  screen
and (max-device-width: 1200px) {
    .chaptercard {
        justify-content: space-between;
        max-width: 608px;
    }
    .chaptercard__title {
        text-align: left;
        margin: 0 16px;
    }
    .chapter-download-card {
        width: 608px;
        height: 152px;
    }
    .chapter-card-error.chapter-download__error {
        max-width: 608px;
    }
    .chapter-download__error-message {
        max-width: 300px;
    }
}
/* --mobile layout for phones  */
@media only screen
and (max-device-width: 767px)
and (min-device-width: 320px) {
    .chaptercard {
        box-sizing: content-box;
    }
    .hero__page-title {
        margin-bottom: 20px;
    }
    .hero__page-info {
        display: none;
    }
    .chaptercard__icon {
        color: darkblue;
    }
    .chaptercard__download-text {
        display: none;
    }
    .chapter-download-card {
        width: 312.5px;
        height: 152px;
        border-radius: 8px;
    }
    .chaptercard__download {
        padding: 0;
        margin: 0 16px;
        flex: 0.2;
        border: 1px solid lightgray;
        height: 40px;
        width: 40px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .chaptercard__download.unavailable .chaptercard__icon {
        color: #cfd1d6;
    }
    .download-ready {
        background-color: unset !important;
        color: unset !important;
    }
    .request-unavailable {
    	border: none;
    }
    .request-unavailable * {
        color: #dc0000e6 !important;
    }
    .chapter-card-error.chapter-download__error {
        padding: 15px 0px;
    }
    .chapter-download__error-message {
        max-width: 150px;
    }
    .chaptercard__download-target {
        height: 42px;
        width: 100%;
    }
}
